/MVCBase/MVCBase.BLL/obj
/MVCBase/MVCBase.BLL/bin
/MVCBase/MVCBase.DAL/bin
/MVCBase/MVCBase.DAL/obj
/MVCBase/MVCBase.Models/bin
/MVCBase/MVCBase.Models/obj
/MVCBase/MVCBase.WEB/bin
/MVCBase/MVCBase.WEB/obj
/MVCBase/.vs
